:root {
  --color-white: #ffffff;
  --color-black: #181818;

  --color-background-primary: #f5f5f5;
  --color-background-secondary: #ffffff;
  --color-background-tertiary: #fff2cd;
  --color-background-error: #ffbebe;

  --color-accent-primary: #ffe7a3;
  --color-accent-secondary: #ffcd44;

  --color-text-heading: #ffbb00;
  --color-text-primary: #3f3f3f;
  --color-text-secondary: #7a7a7a;
}
